.progress-bar {
  width: 100%;
  position: relative;

  &__background {
    width: 100%;
    height: 100%;
    background-color: gray;
    position: absolute;
  }

  &__loading {
    height: 100%;
    background-color: darkgray;
    position: absolute;
  }

  &__fulfil {
    height: 100%;
    background-color: #ffd633;
    position: absolute;
  }

  &__clock {
    width: 100%;
    height: 14px;
    font: 0.8em sans-serif;
    position: relative;
  }

  .clock-left {
    opacity: 0;
    position: absolute;
    left: 0;
  }

  .clock-right {
    opacity: 0;
    position: absolute;
    right: 0;
  }

  &__clock:hover {
    .clock-right {
      opacity: 1;
    }
    .clock-left {
      opacity: 1;
    }
  }
}
