$base-color: #ffd633;
$base-text-color:#181818;
$base-second-color: #fff;
$base-hover-color: #fccb19;
$border-color: 1px solid rgba(0, 0, 0, 0.2);
$hover-border-color: rgba(0, 0, 0, 0.3);
$placeholder-color: #999;
$base-border-color: #fc0;
$page-border-color: hsla(0, 0%, 100%, 0.05);
$page-dark-theme: #181818;
$secondary-base-color: #ffdb4d;
$secondary-border-color: #dddddd;
$player-height: 64px;
$slider-button: #ffffff
